* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #74ebd5, #ACB6E5);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 400px;
}

.weather-card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.search button {
  padding: 10px 16px;
  border: none;
  width:65px;
  text-align:center;
  font-size:10px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.weather-info {
  text-align: center;
  margin-bottom: 20px;
}

.city {
  font-size: 24px;
  font-weight: bold;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
  margin: 10px 0;
}

.condition {
  font-size: 18px;
  color: #555;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.detail-box {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 32%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.detail-box span {
  font-size: 12px;
  color: #666;
}

.detail-box strong {
  display: block;
  margin-top: 5px;
  font-size: 18px;
}